.notes-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  
  .note-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
  }

  .note-card:hover {
    background-color: rgb(237, 237, 237);
    }
  
  .note-card h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  
  .note-card p {
    margin: 0;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  